

#main-container {
    place-items : center center;
    background: linear-gradient(79deg, #bdb2d3,#dfbedb,#eeceb7)  ;
    max-width: 1430px;
}

#register-form {
    max-width: 430px;

}

body {
  display: grid;
  min-height: 100vh;
  background: #f5f5f5;
}