

#main-container {
    place-items : center center;
    background: #fcfcfc ;
    max-width: 1430px;
    
}

.pic_top{
  text-align: center;
}

#register-form {
    max-width: 430px;

}

body {
  display: grid;
  min-height: 100vh;
  background: #f9f9fb;
}

.member-btn{
  background: transparent;
  border: transparent;
  color: blueviolet;
  cursor: pointer;
  letter-spacing: var(--letterSpacing);
}
